/* GLOBAL FONTS  */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Wendy+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/* GENERAL STYLES CLASSES  */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    max-height: 100vh;
    overflow: hidden;
}

#main {
    display: flex;
}

#display-left {
    background-color: #140631;
    width: 25vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#display-left-heading {
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Wendy One", "sans-serif";
}

#display-left-display {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.left-display-box {
    color: black;
    width: 15rem;
    padding: 15px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Roboto Condensed", "Arial", "sans-serif";
    display: flex;
    justify-content: space-between;
}

#balance-display {
    background-color: #8ba9d6;
}
#income-display {
    background-color: #6ec772;
}
#expense-display {
    background-color: #de5656;
}

/* Right section */

#display-right {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #f5f5f5;
}

#input-div {
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    min-height: 5vh;
    margin-top: 2rem;
}
#operator {
    /* width: 10%; */
    padding: 10px;
    appearance: none;
    background-color: #fff;
    border-radius: 10px;
    border-right: none;
    box-shadow: 1px 1px 5px rgb(102, 102, 102);
    outline: none;
    border: none;
}

#description {
    width: 60%;
    padding: 10px;
    appearance: none;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgb(102, 102, 102);
    border-radius: 10px;
    outline: none;
    border: none;
}
#value {
    width: 12%;
    appearance: none;
    box-shadow: 1px 1px 5px rgb(102, 102, 102);
    outline: none;
    border: none;
    border-radius: 10px;
    text-align: center;
}

#submit {
    background-color: rgb(38, 83, 216);
    border: none;
    width: 100px;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 10px gray;
    border-radius: 5px;
    outline: none;
}

#display-right-display {
    height: 100%;
    display: flex;
    margin-top: 2rem;
}

#income-display-right,
#expense-display-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90vh;
}

#income-display-right h2,
#expense-display-right h2 {
    font-family: "Roboto Condensed", "Arial";
    font-size: 2rem;
    /* font-weight: 400; */
    margin-bottom: 2rem;
}
.income-display-right-list,
.expense-display-right-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    height: 100%;
    margin-bottom: 2rem;
}

.income-item,
.expense-item {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    font-size: 1rem;
    padding: 10px;
    background-color: #fff;
    font-family: "Roboto Condensed", "Arial", "sans-serif";
    box-shadow: 0px 8px 6px -6px #000;
    border-radius: 5px 20px 5px;
    transition: all 0.5s ease;
}

.income-item {
    /* background-color: rgb(140, 224, 140); */
    border-top: 8px solid rgb(31, 255, 31);
    border-left: 5px solid rgb(37, 255, 37);
    background-color: #fff;
    color: rgb(22, 173, 22);
    font-family: "Roboto Condensed";
}
.expense-item {
    /* background-color: rgb(238, 153, 153); */
    border-top: 8px solid rgb(255, 0, 0);
    border-left: 5px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

.income-item:hover,
.expense-item:hover {
    box-shadow: none;
}

.income-item:hover .desc-span,
.expense-item:hover .desc-span {
    flex-grow: 1;
}

/* .cross-span {
    display: none;
    cursor: pointer;
    color: rgb(255, 8, 82);
    text-align: center;
    margin-left: 0.5rem;
    border-radius: 50%;
    font-family: "Nunito";
    font-size: 1.2rem;
}
.income-item:hover .cross-span,
.expense-item:hover .cross-span {
    display: block;
} */
